@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

#terminal {
  font-family: "Source Code Pro", monospace;
  margin-top: 10px;
  width: 768px;
  height: 500px;
  background-color: black;
  color: greenyellow;
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto;
  font-size: 16px;
}

#command,
#command:focus {
  font-family: "Source Code Pro", monospace;
  width: 90%;
  background-color: black;
  border: none;
  color: greenyellow;
  font-size: 16px;
  outline: none;
}
